@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    align-items: center;
    background: url("../images/bg-pattern-top.svg"), url("../images/bg-pattern-bottom.svg"), hsl(185, 75%, 39%);
    background-position: -650px -650px, 250px 550px;
    background-repeat: no-repeat, no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    min-width: 100vw;
}

main {
    align-items: center;
    background: url("../images/bg-pattern-card.svg");
    background-position: left top;
    background-repeat: no-repeat;
    background-size: 100% auto;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto auto;
    width: 375px;
}

.bold {
    color: hsl(229, 23%, 23%);
    font-family: "Kumbh Sans", sans-serif;
    font-size: 18px;
    font-weight: 700;
}

.light-font {
    color: hsl(227, 10%, 46%);
    font-family: "Kumbh Sans", sans-serif;
    font-size: 18px;
    font-weight: 400;
}

.light-font-small {
    color: hsl(227, 10%, 46%);
    font-family: "Kumbh Sans", sans-serif;
    font-size: 12px;
    font-weight: 400;
}

.avatar-container {
    background: url("../images/image-victor.jpg");
    border: 5px solid #fff;
    border-radius: 50%;
    display: flex;
    flex-direction: row;
    height: 100px;
    margin-top: 100px;
    width: 100px;

}

.name-age-container {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%
}

.name-age-container div {
    margin: 20px 5px 15px 5px;
}

.location-container {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    width: 100%;
}

.stat-row-container {
    border-top: 1px solid hsl(227, 10%, 90%);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 25px 0px;
    width: 100%;
}

.stat-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.stat-number {
    margin-bottom: 5px;
}

/*

.stat-header {
}

*/

@media screen and (min-width: 1440px) {
    body {
        align-items: center;
        background: url("../images/bg-pattern-top.svg"), url("../images/bg-pattern-bottom.svg"), hsl(185, 75%, 39%);
        background-position: 0px -450px, 1000px 450px;
        background-repeat: no-repeat, no-repeat;
        display: flex;
        flex-direction: column;
        justify-content: center;
        min-height: 100vh;
        min-width: 100vw;
    }
}